.editButton {
    height: 20px;
}

.editButton:hover {
    color: grey
}

.containerDrawerOpen {
    width: calc(100vw - 240px);
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.containerDrawerClosed {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.content {
    width: 50%;
}