.rowElement {
    padding: 0.5em;
    margin: 0;
}

.rowElement:hover {
    background-color: rgba(200, 200, 200, 0.573);
    border: 0px solid black;
    border-radius: 10px;
}

.columns {
    display: flex;
}

.navigation {
    background-color: rgba(108, 177, 255, 0.565);
    padding: 1em;
}

.containerDrawerOpen {
    transition: width 0.3s ease;
    width: calc(100vw - 256px);
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.containerDrawerClosed {
    transition: width 0.3s ease;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.content {
    max-width: 70%;
    max-width: 900px;
    margin: 2rem 4rem;
}

@media (max-width: 768px) {
    .container {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
    }

    .content {
        min-width: 350px;
        max-width: 350px;
        border: none;
        border-radius: 0;
        box-shadow: none;
        padding-left: 1rem;
    }
}