.rowElement {
    text-decoration: none;
    color: black;
    padding-right: 1em;
    margin-left: 1em;
}


.rowElement:hover {
    background-color: rgba(200, 200, 200, 0.573);
    border: 0px solid black;
    border-radius: 10px;
}

.columns {
    display: flex;
}

.navigation {
    background-color: rgba(108, 177, 255, 0.565);
    padding: 1em;
}

.editIcon {
    visibility: hidden;
}

.titleSpan:hover .editIcon {
    visibility: visible;
}

.isIconVisible {
    visibility: visible;
}

.isBackgroundVisible {
    background-color: rgba(200, 200, 200, 0.573);
    border: 0px solid black;
    border-radius: 10px;
}